@import '../../theme/variables.css';

.cart {
  flex-direction: column;
  display: flex;
  background-color: var(--white);
  padding: 1em 1.5em;
  min-height: 300px;
  width: 250px;
  border-radius: 3px;
  box-shadow: 5px 0 15px 0px rgba(0, 0, 0, 0.1);
  color: var(--black);
  font-size: 16px;
  align-items: center;
}

.cart .empty-cart {
  margin-top: calc(50% - 10px);
  color: grey;
}

.close-icon-container {
  cursor: pointer;
  text-align: right;
  align-self: flex-end;
}

.close-icon-container .close-icon {
  font-size: 20px;
}

.divider {
  margin-top: auto;
  width: 100%;
  height: 2px;
  background-color: grey;
}

.total-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart .btn {
	margin-top: 25px;
	border: none;
	outline: none;
	padding: 10px 15px;
	border-radius: 3px;
	background-color: var(--secondary);
  color: var(--white);
}

.cart .btn:hover {
	background-color: var(--primary);
	transition: .3s;
	cursor: pointer;
}