@import '../../theme/variables.css';

.navbar {
  display: flex;
  background-color: var(--primary);
  height: 70px;
}

.navbar .nav-items {
  width: 75%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.nav-items .nav-item {
  margin-right: 20px;
  font-weight: bold;
}

.nav-item .nav-link {
  color: var(--black);
  padding: 2px;
}
.nav-item .nav-link.active {
  border-bottom: 3px solid var(--white);
  color: var(--dark)
}

.nav-item .nav-link:hover {
  transition: .2s;
  color: var(--dark)
}

.cart-icon {
  margin-left: auto;
  font-size: 11px;
  color: var(--white);
  cursor: pointer;
  position: relative;
}

.cart-icon .badge {
  position: absolute;
  background-color: var(--secondary);
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6px;
  right: -10px;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, .2);
}

.cart-icon .cart-container {
  position: absolute;
  right: -50px;
  top: 45px;
  animation: slideDown .3s linear;
}

@keyframes slideDown {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 45px;
    opacity: 1;
  }
}
